:root{
    --vermelho: #e50914;
    --preto: #141414;

} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Arial', Times , serif;
    color:white;
    margin-right: 0px;
     
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
 
header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black' , Times;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;

}

.moto-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%) , url("owl/ducati-panigale-v4-papel-de-parede-3200x2400_29.jpg");
    
    height: 800px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.moto-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color:rgba(0,0,0,.50);
    border: none;
    color: white;
    box-shadow: none;
    border-radius: 1px;
   


    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 2s ease all;
}
   
.botao:hover{
    background-color:white;
    color: black;
}
.botao i{
    margin-right: 8px;

    
}
.botoes{
    text-transform: capitalize;
}
.box-moto{
    height: 100%;
    width: 100%;
    display: inline-flex;
}
.carrosel-filmes{
    margin-top: 5px;
}
a{
    color:white;
}
a:hover{
    color:black;
}